h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;padding:0;}
p {margin: 0;}
body a:hover{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
	text-decoration:none;
}
html, body{
	font-family: 'Ubuntu', sans-serif;
	font-size:100%;
	background:#fff;
}
.header{
	background:#000000;
	padding:2em 0;
	position: relative;
	z-index: 100;
}
.logo{
	position:absolute;
	top:0;
	left:10%;
}
.navigation{
	width:70%;
	float:right;
}
ul.navig{
	padding:0;
	width: 65%;
	float: left;
	margin-top: 10px;
}
ul.navig li{
	display: inline-block;
	margin:0 10px;
}
ul.navig li a{
	text-transform:uppercase;
	font-size:1em;
	color:#fff;
	font-weight:700;
}
ul.navig li a:hover{
	color:#ff7105;
}
.banner{
	background:url(../images/banner.jpg)no-repeat;
	background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	min-height:650px;
}
.banner-bot{
	padding:4em 0;
	text-align:center;
}
nav a , ul.navig a{
	position: relative;
	display: inline-block;
	margin: 0px 0px 10px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.35em;
}
nav a:hover,
nav a:focus, ul.navig a:hover, ul.navig a:focus {
	outline: none;
}
.cl-effect-3 a {
	padding: 8px 0;
}

.cl-effect-3 a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 4px;
	background: #ff7105;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.cl-effect-3 a:hover::after,
.cl-effect-3 a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}
.margin-top{
		margin-top: 50px;
	}
.sign {
    padding: 5px;
    float: left;
    border: 1px solid #333; 
    margin: 0 15px 5px 5px; 
    background: #f0f0f0;
   }
.sign figcaption {
   text-align:center;
   margin: 20px 0px 0px 50px;
   }
.guide {
display: flex;
flex-direction: column;
}
.guide-1 {
	margin-left: 5%;
	margin-right: 5%;
}
.guide-1 p {
text-align: justify;
color: #fff;
}
.guide-1 h1 {
text-align: center;	
color: #fff;
} 
.marg {
	margin-left: 8%;
	margin-right: 8%;
}
a.button {
	position: relative;
	display: inline-block;
	font-size: 100%;
	font-weight: 700;
	color: #fff;
	text-shadow: rgb(156, 0, 0) -1px 1px, rgb(156, 0, 0) 1px 1px, rgb(156, 0, 0) 1px -1px, rgb(156, 0, 0) -1px -1px;
	text-decoration: none;
	user-select: none;
	padding: .3em .7em;
	outline: none;
	border-radius: 7px;
	background: rgb(156, 0, 0) repeating-linear-gradient(135deg, rgb(156, 0, 0), rgb(156, 0, 0) 10px, #000000 10px, #000000 20px, rgb(156, 0, 0) 20px);
	box-shadow:
	 inset -2px -2px rgba(0,0,0,.3),
	 inset 2px 2px rgba(255,255,255,.3);
	transition: background-position 999999s, color 999999s, text-shadow 999999s;
  }
  a.button:hover, a.button:focus {
	text-shadow: #000000 -1px 1px, #160000 1px 1px, #160000 1px -1px, #160000 -1px -1px;
	background: #000000 repeating-linear-gradient(135deg, #000000, #000000 10px, rgb(156, 0, 0) 10px, rgb(156, 0, 0) 20px, rgb(155, 0, 0) 20px) no-repeat;
	background-size: 1000% 100%;
  }
  a.button:hover {
	background-position: 0 0;
  }
  a.button:focus {
	color: rgba(255,255,255,0);
	text-shadow: rgba(1,117,177,0) -1px 1px, rgba(1,117,177,0) 1px 1px, rgba(1,117,177,0) 1px -1px, rgba(1,117,177,0) -1px -1px;
	background-position: 900% 0;
	transition: background-position linear 600s, color .5s, text-shadow .5s;
  }
  a.button:after {
	content: "загрузка\2026";
	position: absolute;
	top: 0;
	left: 0;
	padding: .3em .7em;
	color: rgba(0,0,0,0);
	text-shadow: none;
	transition: 999999s;
  }
  a.button:focus:after {
	color: #fff;
	text-shadow: #160000 -1px 1px, #160000 1px 1px, #160000 1px -1px, #160000 -1px -1px;
	transition: .5s;
  }
/*-- Галерея початок --*/
.gallery{
	background:#4fbfa8;
	padding:2em 0;
	text-align:center;
}
.gallery h3{
	font-size:4em;
	font-weight:700;
	color:#fff;
	margin:0em 0 0.5em 0;
}
.b-link-stripe{
	position:relative;
	display:inline-block;
	vertical-align:top;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	overflow:hidden;
}
.b-link-stripe .b-wrapper{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	text-align:center;
	color:#ffffff;
	overflow:hidden;
}
.b-link-stripe .b-line{
	position:absolute;
	top:0;
	bottom:0;
	width:20%;
	background:rgba(15, 207, 140, 0.9);
	transition:all 0.5s linear;
	-moz-transition:all 0.5s linear;
	-ms-transition:all 0.5s linear;
	-o-transition:all 0.5s linear;
	-webkit-transition:all 0.5s linear;
	opacity:0;
	visibility:hidden; 
}
.marg-top {
	margin-top: 5em;
}
.games{
	margin-top: 4em;
	padding-left: 8%; 
	}
	.table {
		padding-bottom:20px;
		width:100%; 
		text-align:justify; 
		column-width: 500px; 
		column-gap: 40px; 
		-moz-column-gap: 40px;
		-webkit-column-gap: 40px;
		column-rule: 1px solid red; 
		}
		.border {
			padding: 100px 0 40px 0;
		}
/*-- Галерея кінець --*/
/*-- Футер початок --*/
.footer{
	padding:1em 0;
	border-top: 2px solid rgb(255, 0, 0);
	text-align:center;
	color: rgb(176, 246, 255);
}
/*-- Футер кінець --*/
